Source: ulteo-ovd-start
Section: x11
Priority: optional
Maintainer: Gauvain Pocentek <gauvain@ulteo.com>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.3

Package: ulteo-ovd-start
Architecture: all
Depends:
Description: Ulteo Open Virtual Desktop - startup scripts
 This package is a collection of various scripts that can be used to start an X
 session on an Ulteo Open Virtual Desktop.
