#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

gen-scripts:
	alts="$(shell ls bin/)"; \
	for script in debian/postinst debian/prerm; do \
		sed "s,@ALTERNATIVES@,$$alts," $$script.in > $$script; \
	done

