#! /bin/sh -e

. /usr/share/debconf/confmodule
db_version 2.0

db_input critical ulteo-ovd-webinterface/link_session_manager || true
db_go
db_get ulteo-ovd-webinterface/link_session_manager && LINK_SM=$RET

if [ "$LINK_SM" = "true" ]; then
    db_input critical ulteo-ovd-webinterface/session_manager_ip || true
    db_go
fi

db_stop

#DEBHELPER#

exit 0
