#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

DEB_UPDATE_RCD_PARAMS := "defaults 98 02"

pre-build::
	cp $(CURDIR)/init/debian/ulteo-ovd-subsystem $(CURDIR)/debian/ulteo-ovd-subsystem.init

install/ulteo-ovd-subsystem::
	install -D conf/default.conf $(DEB_DESTDIR)/etc/default/ulteo-ovd-subsystem ; \
	install -D conf/subsystem.conf $(DEB_DESTDIR)/etc/ulteo/subsystem.conf ; \
	install -D script/uchroot $(DEB_DESTDIR)/usr/sbin/uchroot

clean::
	#debconf-updatepo
