#! /bin/sh -e

. /usr/share/debconf/confmodule

db_input critical ulteo-ovd-web-client/link_session_manager || true
db_go
db_get ulteo-ovd-web-client/link_session_manager && LINK_SM=$RET

if [ "$LINK_SM" = "true" ]; then
    db_input critical ulteo-ovd-web-client/session_manager_ip || true
    db_go
fi

exit 0
