#!/bin/sh -e

. /usr/share/debconf/confmodule

db_input critical ulteo-ovd-subsystem/sm_address || true
db_go

# keep debconf value if already exists
db_get ulteo-ovd-subsystem/tarball_uri && URI=$RET
if [ -z "$URI" ]; then
    # put a generated uri from the SM
    db_get ulteo-ovd-subsystem/sm_address
    URI="https://$RET/ovd/admin/base.tar.gz"
    db_set ulteo-ovd-subsystem/tarball_uri $URI
fi

db_input medium ulteo-ovd-subsystem/tarball_uri || true
db_go

exit 0
