html {
	background: #fff;
	font-family: Arial;
	font-size: 90%;
}

body {
	background: #fff;
	font-size: 0.85em;
	color: #333;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

a {
	color: #369;
	font-weight: bold;
	border: none;
	text-decoration: none;
}
a:hover {
	color: #963;
}

div#mainWrap {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

div#headerWrap {
	background: #fff;
	color: #333;
	/*border-bottom: 1px solid #ccc;*/
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
}

div#logoWrap {
	margin-left: auto;
	margin-right: auto;
}

div#pageWrap {
	width: 100%;
	/*margin-top: 25px;*/
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 25px;*/
	text-align: left;
	background: #eee;
	border-bottom: 1px solid #ccc;
}

div#copyrightWrap {
	text-align: center;
	font-size: 0.9em;
	font-style: italic;
}

#printerContainer {
	width: 1px;
	height: 1px;
	background: #0f2d47;
	border: 0px;
}

#splashContainer {
	border: 0px;

	position: absolute;

	width: 406px;
	height: 255px;
}

#endContainer {
	border: 0px;

	position: absolute;

	width: 400px;
	height: 150px;

	text-align: center;
	vertical-align: middle;
}

#appletContainer {
	position: absolute;

	top: 0px;
	right: 0px;
}

#debugContainer {
	position: absolute;

	left: 0px;
	bottom: 0px;

	width: 85%;
	height: 149px;

	overflow: auto;

	display: inline;
}

#debugLevels {
	position: absolute;

	right: 0px;
	bottom: 0px;

	width: 15%;
	height: 149px;

	display: inline;
}

.debug {
	color: grey;
	display: block;
}

.info {
	color: green;
	display: block;
}

.warning {
	color: orange;
	display: block;
}

.error {
	color: red;
	display: block;
}

#debugContainer.no_debug .debug {
	display: none;
}

#debugContainer.no_info .info {
	display: none;
}

#debugContainer.no_warning .warning {
	display: none;
}

#debugContainer.no_error .error {
	display: none;
}

.centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: left;
	color: #666;
}

div.container {
	/*background: #fff;*/
	padding: 10px;
}

div#lockWrap {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	background: #000;
	position: absolute;
	z-index: 50;

	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}

div#errorWrap {
	background: #fcc;
	border: 1px solid #000;
	padding: 10px;
	position: absolute;
	z-index: 200;
}

div#okWrap {
	background: #cfc;
	border: 1px solid #000;
	padding: 10px;
	position: absolute;
	z-index: 150;
}

div#infoWrap {
	background: #ddd;
	border: 1px solid #000;
	padding: 10px;
	position: absolute;
	z-index: 100;
}
