#!/bin/sh -e
# vim: set syntax=sh:

. /usr/share/debconf/confmodule
db_version 2.0

if [ "$1" = "configure" ] && [ -z "$2" ] || [ "$1" = "reconfigure" ]; then

    # admin credential
    db_input critical ulteo-ovd-session-manager/admin_login || true
    db_go
    while :; do
        db_input critical ulteo-ovd-session-manager/admin_password || true
        db_go
        db_get ulteo-ovd-session-manager/admin_password
        ROOT_PWD="$RET"
        db_input critical ulteo-ovd-session-manager/admin_password_again || true
        db_go
        db_get ulteo-ovd-session-manager/admin_password_again
        if [ "$RET" = "$ROOT_PWD" ]; then
            ROOT_PW=""
            break
        fi
        db_input critical ulteo-ovd-session-manager/password_mismatch
        db_reset ulteo-ovd-session-manager/admin_password
        db_reset ulteo-ovd-session-manager/admin_password_again
        db_go
    done

    # chroot download
    if [ ! -e /usr/share/ulteo/sessionmanager/base.tar.gz ]; then
        db_input critical ulteo-ovd-session-manager/tarball_url || true
        db_go
    fi
fi

exit 0
