#!/usr/bin/make -f

DEB_PYTHON_SYSTEM := pycentral
DEB_PYTHON_COMPILE_VERSION = 2.6

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
DEB_DH_INSTALLINIT_ARGS_ulteo-ovd-slaveserver := --name=ovdSlaveServer

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

install/ulteo-ovd-slaveserver::
	cp examples/ovdSlaveServer debian/ulteo-ovd-slaveserver.ovdSlaveServer.init
