[submodule "AdminConsole/web/media/script/lib/EditArea"]
	path = AdminConsole/web/media/script/lib/EditArea
	url = git@gitlab.orneo.fr:legacy-ulteo/EditArea.git
[submodule "AdminConsole/includes/tcpdf"]
	path = AdminConsole/includes/tcpdf
	url = git@gitlab.orneo.fr:legacy-ulteo/tcpdf.git
