#!/bin/sh -e
# vim: set syntax=sh:

. /usr/share/debconf/confmodule
db_version 2.0

FQDN=$(dnsdomainname --fqdn)

# TODO: check if a chroot already exists

db_fget od/fqdn seen
if [ "$RET" = false ]; then
    db_set od/fqdn $FQDN || true
    db_fset od/fqdn seen false || true
fi
db_input critical od/fqdn || true
db_input critical od/sessions/server_url || true
db_go

exit 0

