Source: ovd-java-clients
Section: utils
Priority: optional
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: debhelper (>= 6), cdbs, ulteo-ovd-cert,
 sun-java6-jdk, ant, ant-optional, mingw32, libx11-dev
Standards-Version: 3.8.2

Package: ulteo-ovd-applets
Architecture: all
Description: Ulteo Open Virtual Desktop - desktop applet
 This applet is used in the Open Virtual Desktop to display the user session in
 a browser.

Package: ulteo-ovd-externalapps-client
Architecture: all
Depends: sun-java6-jre | openjdk-6-jre, cups-bsd | lpr,
 libovd-xclient-area
Recommends: ulteo-ovd-integrated-launcher
Description: Ulteo Open Virtual Desktop - integrated client
 This application is used in the Open Virtual Desktop to display the user
 session and launch applications via an all integrated client.

Package: libovd-xclient-area
Architecture: any
Depends: ${shlibs:Depends}
Description: X Client area library
 Detect docks / taskbars and calculate the available size for X window
 applications area
