Source: ovd-desktop-settings
Section: x11
Priority: extra
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.3

Package: ulteo-ovd-desktop-settings
Architecture: all
Depends: gnome-icon-theme, gnome-icon-theme-crystal, dmz-cursor-theme,
 xfce4-icon-theme, gtk2-engines-xfce, gtk2-engines-mythbuntu
Conflicts: ulteo-ovd-xfce-default-settings, xubuntu-default-settings, thunar-settings (<< 0.9.0-4ulteo2)
Description: Startup scripts and default settings for the Ulteo OVD
 This package provides :
 * default settings for the Xfce desktop on an Ulteo Open Virtual Desktop.
 * script that can be used to start an X session on an Open Virtual 
 Desktop application server.

Package: ulteo-plymouth-theme-vdi
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-label
Provides: plymouth-theme
Description: graphical boot animation and logger - ulteo-vdi theme
 Plymouth is an application that runs very early in the boot process
 (even before the root filesystem is mounted!) that provides a graphical
 boot animation while the boot process happens in the background.
 .
 This package contains the default ulteo-vdi-logo theme.
