Source: ovd-webinterface
Section: net
Priority: extra
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: cdbs, debhelper (>= 6), intltool, ulteo-ovd-applets
Standards-Version: 3.7.2

Package: ulteo-ovd-webinterface
Architecture: all
Depends: libapache2-mod-php5, php5, php5-curl, ulteo-ovd-applets, debconf
Description: Ulteo Open Virtual Desktop - web interface
 This interface is a web client for Ulteo OVD.
