#!/usr/bin/make -f

PACKAGE = ulteo-ovd-daemon

build: build-stamp
build-stamp:
	dh_testdir
	touch $@

clean: #PATCH_CLEAN#
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) DESTDIR=$(CURDIR)/debian/$(PACKAGE) install

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install
	# lintian
	mkdir -p debian/ulteo-ovd-daemon/usr/share/lintian/overrides
	install -m0644 debian/lintian.overrides \
		debian/ulteo-ovd-daemon/usr/share/lintian/overrides/ulteo-ovd-daemon
	dh_installdirs
	dh_strip
	dh_compress
	dh_fixperms -Xlog.sh -Xfunctions.sh -Xmodules_fs.sh
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install

