Source: ovd-desktop
Section: x11
Priority: extra
Maintainer: David PHAM-VAN <d.pham-van@ulteo.com>
Standards-Version: 3.7.3
Build-Depends: cdbs, debhelper (>= 6)

Package: ulteo-ovd-desktop
Architecture: all
Depends: ulteo-ovd-desktop-settings, ulteo-xfce4-restricted-menu-plugin,
 thunar, gtk2-engines-xfce, xfwm4, xfce4-session,
 xfdesktop4, xfce4-utils, xfce4-panel
Recommends: xinit, app-install-data, xfce4-mcs-plugins, xfce4-icon-theme
Suggests: gdm
Conflicts: xfce (>= 4.6)
Description: Ulteo Open Virtual Desktop - XFCE desktop
 A desktop based on Xfce 4.4 for Ulteo OVD solution
