Source: ovd-administration-console
Section: net
Priority: optional
Maintainer: Simon Nivault <simon.nivault@aznetwork.eu>
Build-Depends: debhelper (>= 6), cdbs, po-debconf
Standards-Version: 3.7.3

Package: ulteo-ovd-administration-console
Architecture: all
Pre-depends: debconf
Depends:
 ulteo-ovd-l10n,
 apache2,
 libapache2-mod-php5,
 php-libchart,
 php-soap
Description: Ulteo Open Virtual Desktop - Administration Console
 This package provides the web Administration Console for the Ulteo Open
 Virtual Desktop solution.
