Source: xfce4-restricted-menu-plugin
Section: x11
Priority: extra
Maintainer: Gauvain Pocentek <gauvain@ulteo.com>
Build-Depends: cdbs, debhelper (>= 5), autotools-dev, libthunar-vfs-1-dev, xfce4-panel-dev (>= 4.4), libxml-parser-perl
Standards-Version: 3.7.3

Package: xfce4-restricted-menu-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Restricted menu for the xfce4 panel
 This plugin for the Xfce panel allows the administrateur to restrict the
 access to the available applications.
