html {
	background: #fff;
	font-family: Sans-serif, Arial;
	font-size: 90%;
}

body {
	background: #fff;
	font-size: 0.85em;
	color: #333;
	margin: 0;
	padding: 0;
}

img {
	border: 0;
	vertical-align: middle;
}

a {
	color: #369;
	font-weight: bold;
	border: none;
	text-decoration: none;
}
a:hover {
	color: #963;
}

input, select, textarea {
	/*border: 1px solid #999;*/
	border: 1px solid #004985;
}

input.input_text {
	width: 150px;
}

input.input_checkbox {
	border: 0;
}

input.input_radio {
	border: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 10px;
}

fieldset.role {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px;
}

.role legend {
	font-weight: bold;
	font-size: 1.1em;
}

fieldset.prefssessionusergroup {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px;
}

fieldset.prefssessionusergroup legend {
	font-weight: bold;
	font-size: 1.1em;
}

.hidden {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: left;
	color: #666;
}

div#mainWrap {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

div#headerWrap {
	background: #fff;
	color: #333;
	/*border-bottom: 1px solid #ccc;*/
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
}

div#logoWrap {
	margin-left: auto;
	margin-right: auto;
}

div#pageWrap {
	width: 100%;
	/*margin-top: 25px;*/
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 25px;*/
	text-align: left;
	background: #eee;
}

div#footerWrap {
	background: #fff;
	width: 100%;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
/*	left: 0px;
	right: 0px;*/
	/*position: absolute;*/
	bottom: 0px;
	text-align: right;
}

div#copyrightWrap {
	text-align: center;
	font-size: 0.9em;
	font-style: italic;
}

ul {
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	margin-left: 5px;
}

#menuWrap ul {
	list-style: none;
}

#menuWrap ul li {
	background: #fff;
	color: #369;
	width: 100px;
	margin-left: 25px;
	margin-right: 25px;
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

#menuWrap ul li.selected {
	background: #fff;
	color: #963;
}

#menuWrap ul li:hover {
	background: #fff;
	color: #963;
	cursor: pointer;
}

.msg_ok {
	color: #05a305;
	font-weight: bold;
}
.msg_error {
	color: #a30505;
	font-weight: bold;
}
.msg_warn {
	color: #ff6600;
	font-weight: bold;
}
.msg_unknown {
	color: blue;
	font-weight: bold;
}

.spacer {
	clear: both;
}

.centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

table.main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

table.main_header {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

table.main_header .logo {
	width: 159px;
	height: 100px;
	text-align: center;
}

table.main_header .title {
	font-size: 1.5em;
	text-align: center;
}

table.main_sub {
	/*background: #999;*/
	background: #004985;
	/*width: 100%;*/
	/*margin-left: auto;
	margin-right: auto;*/
}

table.main_sub tr.title {
	color: #fff;
	font-weight: bold;
	text-align: center;
}

table.main_sub tr.title2 {
	background: #ddd;
	font-weight: bold;
	text-align: center;
}

table.main_sub tr.title .sortheader {
	color: #fff;
}

table.main_login {
	/*background: #999;*/
	background: #004985;
	/*width: 100%;*/
	/*margin-left: auto;
	margin-right: auto;*/
}

.content1 {
	background: #eee;
	/*color: #fff;*/
}

.content2 {
	background: #ddd;
	/*color: #fff;*/
}

table.main_sub tr.content1 {
	/*background: #eee;*/
	background: #eee;
	/*color: #fff;*/
}
table.main_sub tr.content2 {
	/*background: #ddd;*/
	background: #ddd;
	/*color: #fff;*/
}

table.main_sub td {
	text-align: left;
}

table.main_sub td.title {
	/*color: #fff;*/
	font-weight: bold;
	text-align: right;
}

table.main_sub td.status {
	width: 64px;
	text-align: center;
	vertical-align: middle;
}

table.main_sub2 {
	/*background: #999;*/
	background: #004985;
	/*width: 100%;*/
	margin-bottom: 25px;
}

table.main_sub2 tr.title {
	color: #fff;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
	font-size: 1.50em;
	font-weight: bold;
}

table.main_sub2 tr.title th {
	padding: 5px;
}

table.main_sub2 tr.content1 {
	background: #eee;
}
table.main_sub2 tr.content2 {
	background: #ddd;
}

table.main_sub2 td {
	text-align: left;
}

table.main_sub2 td.title {
	font-weight: bold;
	text-align: right;
}

table.main_sub2 td.status {
	width: 64px;
	text-align: center;
	vertical-align: middle;
}

#loading_div {
	vertical-align: middle;

	display: block;
}

#launch_buttons {
	vertical-align: middle;
}

#loading_button {
	background: #666;
	border: 1px solid #333;

	color: #fff;
	font-weight: bold;

	display: block;
}

#launch_button {
	/*background: #6a0;*/
	border: 1px solid #370;

	/*color: #fff;*/
	font-weight: bold;

	display: none;
}

#lock_button {
	background: #c60;
	border: 1px solid #700;

	color: #fff;
	font-weight: bold;

	display: none;
}

#warn_button {
	background: #c60;
	border: 1px solid #930;

	color: #fff;
	font-weight: bold;

	display: none;
}

#failed_button {
	background: #a00;
	border: 1px solid #700;

	color: #fff;
	font-weight: bold;

	display: none;
}

#started_button {
	background: #666;
	border: 1px solid #333;

	color: #fff;
	font-weight: bold;

	display: none;
}

#ulteoForm {
	margin: 0px;
	padding: 0px;
}

#ulteoApplet {
	width: 1px;
	height: 1px;
}

div.container {
	/*background: #fff;*/
	padding: 10px;
}

table.admin_table {
	width: 100%;
}

table.admin_table td {
	vertical-align: middle;
}

table.admin_table td.menu {
	width: 150px;
}

table.admin_table td.submenu {
	width: 50px;
}

table.admin_table td.content {
	padding-left: 15px;
}

span.menulink {
	color: #369;
	font-weight: normal;
	font-size: 0.9em;
}
span.menulink_active {
	color: #963;
	font-weight: normal;
	font-size: 0.9em;
}

div#adminError {
	background: #ffcccc;
	border: 1px solid #cc0000;
	padding: 10px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

div#adminInfo {
	background: #ccffcc;
	border: 1px solid #00cc00;
	padding: 10px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

div#adminContent {
	/*padding-left: 10px;
	padding-right: 10px;*/
}

div#headerWrap {
	/*border-bottom: 1px #ccc solid;*/
}

div#pageWrap {
	background: #eee;
}

.debug {
	color: grey;
}

.info {
	color: green;
}

.warning {
	color: orange;
}

.error {
	color: red;
}

.critical {
	color: red;
	font-weight: bold;
}

div.section {
	margin-bottom: 20px;
}
