table.admin_table {
	width: 100%;
}

table.admin_table td {
	vertical-align: middle;
}

table.admin_table td.menu {
	width: 150px;
}

table.admin_table td.submenu {
	width: 50px;
}

table.admin_table td.content {
	padding-left: 15px;
}

span.menulink {
	color: #369;
	font-weight: normal;
	font-size: 0.9em;
}
span.menulink_active {
	color: #963;
	font-weight: normal;
	font-size: 0.9em;
}

div#adminError {
	background: #ffcccc;
	border: 1px solid #cc0000;
	padding: 10px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

div#adminInfo {
	background: #ccffcc;
	border: 1px solid #00cc00;
	padding: 10px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

div#adminContent {
	/*padding-left: 10px;
	padding-right: 10px;*/
}

div#headerWrap {
	/*border-bottom: 1px #ccc solid;*/
}

div#pageWrap {
	background: #eee;
}

.debug {
	color: grey;
}

.info {
	color: green;
}

.warning {
	color: orange;
}

.error {
	color: red;
}

.critical {
	color: red;
	font-weight: bold;
}

div.section {
	margin-bottom: 20px;
}
