Source: libchart
Section: web
Priority: extra
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: debhelper (>= 6), cdbs
Standards-Version: 3.7.3

Package: php-libchart
Architecture: all
Depends: php5, php5-gd
Description: Simple PHP chart drawing library
 Libchart is a free chart creation PHP library, that is easy to use.
