html {
	font-family: Arial;
	font-size: 90%;
}

body {
	font-size: 0.85em;
	color: #333;
	margin: 0;
	padding: 0;

	overflow: hidden;
}

img {
	border: none;
}

a {
	color: #369;
	font-weight: bold;
	border: none;
	text-decoration: none;
}
a:hover {
	color: #963;
}

pre {
	font-family: Arial;
	font-size: 1em;
}

div.spacer {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

div.rounded {
	padding: 10px;
}

#loginBox {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background: #fff;
}

#loginForm {
	width: 95%;
	min-height: 182px;
	margin-left: auto;
	margin-right: 0px;
	padding: 10px;
	background: #eee;
}

#splashContainer {
	background: #fff;

	border: 0px;

	position: absolute;

	width: 406px;

	text-align: left;
	vertical-align: middle;

	padding: 5px;
}

#desktopFullscreenContainer {
	background: #fff;

	border: 0px;

	position: absolute;

	width: 400px;

	text-align: center;
	vertical-align: middle;

	padding: 5px;
}

#debugContainer {
	background: #fff;

	position: absolute;

	left: 0px;
	bottom: 0px;

	width: 85%;
	height: 149px;

	overflow: auto;
}

#debugContainer.no_debug .debug {
	display: none;
}

#debugContainer.no_info .info {
	display: none;
}

#debugContainer.no_warning .warning {
	display: none;
}

#debugContainer.no_error .error {
	display: none;
}

#debugLevels {
	background: #fff;

	position: absolute;

	right: 0px;
	bottom: 0px;

	width: 15%;
	height: 149px;
}

.debug {
	color: grey;
	display: block;
}

.info {
	color: green;
	display: block;
}

.warning {
	color: orange;
	display: block;
}

.error {
	color: red;
	display: block;
}

#endContainer {
	background: #fff;

	border: 0px;

	position: absolute;

	width: 400px;

	text-align: center;
	vertical-align: middle;

	padding: 5px;
}

#errorContainer {
	margin-top: 10px;
	margin-bottom: 10px;
}

#errorContainer_content {
	margin-top: 5px;
	background: #ffcccc;
	border: 1px solid #cc0000;
	color: #a30505;
	padding: 5px;
	width: 100%;
	text-align: left;
}

.msg_ok {
	color: #05a305;
	font-weight: bold;
}
.msg_error {
	color: #a30505;
	font-weight: bold;
}

#desktopModeContainer {
	position: absolute;

	top: 0px;
	left: 0px;

	width: 100%;

	margin-left: 0px;
	margin-right: 0px;
}

#desktopAppletContainer {
	position: absolute;

	top: 0px;
	left: 0px;
}

#applicationsModeContainer {
	position: absolute;

	top: 0px;
	left: 0px;

	width: 100%;

	margin-left: 0px;
	margin-right: 0px;
}

#applicationsHeaderWrap {
	background: #fff;
	color: #333;
	/*border-bottom: 1px solid #ccc;*/
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
}

#applicationsContainer {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	border-bottom: 1px solid #ccc;
}

#applicationsAppletContainer {
	position: absolute;

	top: 0px;
	left: 0px;
}

#testJava {
	position: absolute;

	top: 0px;
	left: 0px;
}

#CheckJava {
	position: absolute;

	top: 0px;
	left: 0px;
}

div#lockWrap {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	background: #000;
	position: absolute;
	z-index: 50;

	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}

div#errorWrap {
	background: #ffcccc;
	padding: 10px;
	position: absolute;
	z-index: 200;
}

div#okWrap {
	background: #ccffcc;
	padding: 10px;
	position: absolute;
	z-index: 150;
}

div#infoWrap {
	background: #f1f2a1;
	padding: 10px;
	position: absolute;
	z-index: 100;
}

div#systemTestWrap {
	position: absolute;
	background: #999;
	padding: 10px;
	z-index: 200;
	width: 500px;
}

div#systemTest {
	background: #fff;
	color: #333;
	padding: 20px;
	z-index: 200;
	width: 480px;
	font-size: 1.1em;
	margin-left: auto;
	margin-right: auto;
}

div#systemTestErrorWrap {
	position: absolute;
	background: #c33;
	color: #fff;
	padding: 10px;
	z-index: 200;
	width: 500px;
}

div#systemTestError {
	background: #fff;
	color: #c33;
	padding: 20px;
	z-index: 200;
	width: 480px;
	font-size: 1.2em;
	margin-left: auto;
	margin-right: auto;
}

div#newsWrap {
	position: absolute;
	background: #999;
	padding: 10px;
	z-index: 200;
	width: 750px;
}

div#newsWrapCont {
	background: #fff;
	color: #333;
	padding: 20px;
	z-index: 200;
	width: 730px;
	font-size: 1.1em;
	margin-left: auto;
	margin-right: auto;
}

div#newsWrap_title {
	font-weight: bold;
	border-bottom: 1px solid #999;
	width: 98%;
	margin-bottom: 15px;
}

div#progressBar {
	background: #fff;
	border: 1px solid #ccc;
	height: 10px;
	margin-top: 10px;
}

div#progressBarContent {
	background: #ddd;
	width: 0%;
	height: 10px;
	margin-left: 0px;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: left;
	color: #666;
}
