Source: ovd-shells
Section: net
Priority: extra
Maintainer: Simon Nivault <simon.nivault@aznetwork.eu>
Build-Depends: cdbs, debhelper (>= 6),
 python (>= 2.6), python-central | dh-python
Standards-Version: 3.7.3
XS-Python-Version: >= 2.5
X-Python-Version: >= 2.6

Package: ulteo-ovd-shells
Architecture: all
Depends: ${python:Depends}, uxda-server-python
XB-Python-Version: ${python:Versions}
Description:  Ulteo Open Virtual Desktop - shell
 These scripts handle the Open Virtual Desktop user sessions.
