Source: ovd-slaveserver
Section: net
Priority: extra
Maintainer: David PHAM-VAN <d.pham-van@ulteo.com>
Build-Depends: cdbs, debhelper (>= 6),
 python (>= 2.6), python-central
Standards-Version: 3.7.3
XS-Python-Version: >= 2.5

Package: ulteo-ovd-slaveserver
Architecture: all
Depends: ${python:Depends}, debconf
XB-Python-Version: ${python:Versions}
Description: Ulteo Open Virtual Desktop - slave server
 This daemon manages the Open Virtual Desktop servers.

Package: ulteo-ovd-slaveserver-role-aps
Architecture: all
Depends: ${python:Depends},
 ulteo-ovd-slaveserver, ulteo-ovd-shells, ulteo-ovd-externalapps-client,
 xrdp-python, xrdp-seamrdp, xrdp-rdpdr, xrdp-printer, xrdp-sound, xrdp-clipboard,
 desktop-file-utils, imagemagick, passwd, adduser, rsync, smbfs, python-xdg,
 ulteo-ovd-regular-union-fs
Recommends: tmpreaper
XB-Python-Version: ${python:Versions}
Description: Ulteo Open Virtual Desktop - application server role for slave server
 Application server role for the Ulteo OVD slave server

Package: ulteo-ovd-slaveserver-role-fs
Architecture: all
Depends: ${python:Depends}, python-pyinotify (>= 0.7.1), debconf,
 ulteo-ovd-slaveserver, samba, apache2, ulteo-ovd-regular-union-fs
XB-Python-Version: ${python:Versions}
Description: Ulteo Open Virtual Desktop - file server role for slave server
 File server role for the Ulteo OVD slave server

Package: ulteo-ovd-slaveserver-role-web
Architecture: all
Depends: ${python:Depends}, openssl, python-openssl, debconf, ulteo-ovd-slaveserver, python-ntlm, python-mechanize, python-pycurl
XB-Python-Version: ${python:Versions}
Description: Ulteo Open Virtual Desktop - web gateway role for slave server
 Web gateway role for the Ulteo OVD slave server
