html {
	background: #fff;
	font-family: Arial;
/* 	font-size: 90%; */
}

body {
	background: #fff;
	font-size: 0.85em;
	color: #333;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

a {
	color: #369;
	font-weight: bold;
	border: none;
	text-decoration: none;
}
a:hover {
	color: #963;
}

#splashContainer {
	border: 0px;

	position: absolute;

	width: 406px;
	height: 255px;
}

#endContainer {
	border: 0px;

	position: absolute;

	width: 400px;
	height: 150px;

	text-align: center;
	vertical-align: middle;
}

#appletContainer {
	position: absolute;

	top: 0px;
	left: 0px;
}

.msg_ok {
	color: #05a305;
	font-weight: bold;
}
.msg_error {
	color: #a30505;
	font-weight: bold;
}

#errorContainer {
	margin-top: 10px;
	margin-bottom: 10px;
}

#errorContainer_content {
	margin-top: 5px;
	background: #ffcccc;
	border: 1px solid #cc0000;
	color: #a30505;
	padding: 5px;
	width: 100%;
	text-align: left;
}
