#!/bin/sh -e

. /usr/share/debconf/confmodule

# if ulteo-ovd-debconf database is used
if db_get ulteo-ovd-debconf-database/mysql_root_password; then
    db_input high ulteo-ovd-easy-install/display_sm_password || true
    db_go

else
    dbpasswd=
    db_get mysql-server/root_password && dbpasswd=$RET
    if [ -n "$dbpasswd" ]; then
        db_set ulteo-ovd-easy-install/mysql_dbrootpass $dbpasswd
        db_fset ulteo-ovd-easy-install/mysql_dbrootpass seen true || true
    else
        db_input critical ulteo-ovd-easy-install/mysql_dbrootpass || true
        db_go
    fi
fi

exit 0
