Source: ovd-chroot-apps
Section: x11
Priority: extra
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: cdbs, debhelper (>= 5), autotools-dev, libthunar-vfs-1-dev, xfce4-panel-dev (>= 4.4), xfce4-dev-tools (=4.7.2-1ulteo1), libxml-parser-perl, libcupsys2-dev, libgconf2-dev
Standards-Version: 3.7.3

Package: xfce4-restricted-menu-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Restricted menu for the xfce4 panel
 This plugin for the Xfce panel allows the administrateur to restrict the
 access to the available applications.

Package: lmessage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: display messages in a GTK box
 lmessage is a wrapper to GTK message dialog functions.

Package: desktop-files2xml
Architecture: all
Depends: python
Description: Ulteo Open Virtual Desktop - desktop-files2xml
 desktop-files2xml is a Python tool which generates xml data based on the
 desktop files installed on the system. It is used in Open Virtual Desktop
 application servers to communicate the list of available applications to the
 session manager.

Package: cups2all
Architecture: all
Depends: python, gs-esp
Conflicts: cups-pdf
Pre-Depends: cupsys
Enhances: cupsys
Description: Ulteo Open Virtual Desktop - cups2all
 cups2all provides a pdf/ps printer. It is used in Open Virtual Desktop
 application servers to provide data to the printing applet.

Package: ulteo-ovd-start
Architecture: any
Depends: python, ${shlibs:Depends}, ${misc:Depends}
Description: Ulteo Open Virtual Desktop - startup scripts
 This package is a collection of various scripts that can be used to start an X
 session on an Open Virtual Desktop application server.

