Source: ovd-integrated-launcher
Section: net
Priority: extra
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: debhelper (>= 6), autotools-dev, cdbs
Standards-Version: 3.8.4
Homepage: http://www.ulteo.com

Package: ulteo-ovd-integrated-launcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ulteo Open Virtual Desktop - integrated laucher
 Launch hook for seamless applications
