Source: ovd-session-manager
Section: net
Priority: optional
Maintainer: Gauvain Pocentek <gauvain@ulteo.com>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.7.3

Package: ulteo-ovd-session-manager
Architecture: all
Depends: libapache2-mod-php5, php5-curl, php5-mysql, php5-ldap, debconf, po-debconf
Recommends: mail-transport-agent
Description: Ulteo Open Virtual Desktop - session manager
 This package provides the session manager web services for the Ulteo Open
 Virtual Desktop.

