#!/bin/sh -e
# vim: set syntax=sh:

. /usr/share/debconf/confmodule
db_version 2.0

if [ "$1" = "configure" ] && [ -z "$2" ] || [ "$1" = "reconfigure" ]; then
db_get od/sessionmanager/oem
if [ "$RET" = true ];then
	  db_set od/sessionmanager/mysql/configure true
	    db_input medium od/sessionmanager/mysql/configure || true
	  db_go || true

	  db_get od/sessionmanager/mysql/configure || true
	  if [ "$RET" = "true" ]; then
	    db_input medium od/sessionmanager/mysql/dbserver || true
	    db_input medium od/sessionmanager/mysql/dbadmin || true
	    db_input medium od/sessionmanager/mysql/dbadmpass || true
	    db_input medium od/sessionmanager/mysql/dbuser || true
	    db_input medium od/sessionmanager/mysql/dbpass || true
	    db_input medium od/sessionmanager/mysql/dbname || true
	    db_go || true
	  fi
fi
fi
db_stop

exit 0
