#!/bin/sh -e
# vim: set syntax=sh:

. /usr/share/debconf/confmodule
db_version 2.0

if [ "$1" = "configure" ] && [ -z "$2" ] || [ "$1" = "reconfigure" ]; then

    # admin credential
    db_input critical ulteo-ovd-session-manager/admin_login || true
    db_go
    while :; do
        db_input critical ulteo-ovd-session-manager/admin_password || true
        db_go
        db_get ulteo-ovd-session-manager/admin_password
        ROOT_PWD="$RET"
        db_input critical ulteo-ovd-session-manager/admin_password_again || true
        db_go
        db_get ulteo-ovd-session-manager/admin_password_again
        if [ "$RET" = "$ROOT_PWD" ]; then
            ROOT_PW=""
            break
        fi
        db_fset ulteo-ovd-session-manager/password_mismatch seen false
        db_input critical ulteo-ovd-session-manager/password_mismatch
        db_set ulteo-ovd-session-manager/admin_password ""
        db_set ulteo-ovd-session-manager/admin_password_again ""
        db_go
    done

    # SQL config
    db_input high ulteo-ovd-session-manager/mysql_setup || true
    db_go
    db_get ulteo-ovd-session-manager/mysql_setup || true
    if [ "$RET" = "true" ]; then
        db_input high ulteo-ovd-session-manager/mysql_dbserver || true
        db_input high ulteo-ovd-session-manager/mysql_dbadmin || true
        db_input high ulteo-ovd-session-manager/mysql_dbadmpass || true
        db_input high ulteo-ovd-session-manager/mysql_dbuser || true
        db_input high ulteo-ovd-session-manager/mysql_dbpass || true
        db_input high ulteo-ovd-session-manager/mysql_dbname || true
        db_go || true
    fi

    # chroot download
    if [ ! -e /usr/share/ulteo/sessionmanager/base.tar.gz ]; then
        db_input critical ulteo-ovd-session-manager/download_tarball || true
        db_go
    fi
fi

db_stop

exit 0
