Source: ovd-java-clients
Section: utils
Priority: optional
Maintainer: Simon Nivault <simon.nivault@aznetwork.eu>
Build-Depends: debhelper (>= 6), cdbs,
 default-jdk, ant, ant-optional, mingw32, libx11-dev, libjpeg8-dev, cmake,  icedtea-plugin | icedtea6-plugin
Standards-Version: 3.8.2

Package: ulteo-ovd-applets
Architecture: all
Description: Ulteo Open Virtual Desktop - applets
 This applet is used in the Open Virtual Desktop to display the user session in
 a browser.

Package: ulteo-ovd-externalapps-client
Architecture: all
Depends: default-jre | sun-java6-jre, cups-bsd | lpr,
 libovd-xclient-area, desktop-file-utils, libovd-accelerator
Recommends: ulteo-ovd-integrated-launcher
Description: Ulteo Open Virtual Desktop - integrated client
 This application is used in the Open Virtual Desktop to display the user
 session and launch applications via an all integrated client.

Package: libovd-xclient-area
Architecture: any
Depends: ${shlibs:Depends}
Description: X Client area library
 Detect docks / taskbars and calculate the available size for X window
 applications area

Package: libovd-accelerator
Architecture: any
Depends: ${shlibs:Depends}
Description: Ovd Client optimization library
 Compression algorithm in jni library
