#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DH_INSTALLINIT_ARGS := --name=ulteo-ovd-subsystem -- "defaults 98 02"

clean::
	debconf-updatepo
