Source: ulteo-ovd-web
Section: net
Priority: optional
Maintainer: Gauvain Pocentek <gauvain@ulteo.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3

Package: ulteo-ovd-session-manager
Architecture: all
Depends: libapache2-mod-php5, php5-curl, php5-mysql, php5-ldap, debconf
Recommends: mail-transport-agent
Description: Ulteo Open Virtual Desktop - session manager
 This package provides the session manager web services for the Ulteo Open
 Virtual Desktop.

Package: ulteo-ovd-application-server
Architecture: all
Depends: libapache2-mod-php5, php5-curl
Description: Ulteo Open Virtual Desktop - application server
 This package provides the application server web services for the Ulteo Online
 Virtual Desktop.

