#!/usr/bin/make -f

build: build-stamp
build-stamp:
	dh_testdir

	$(MAKE) -C po/sessionmanager
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k

	$(MAKE) -C po/sessionmanager DESTDIR=$(shell pwd)/debian/ulteo-ovd-session-manager install

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installdirs
	dh_install

	# drop duplicated file
	rm debian/ulteo-ovd-session-manager/usr/share/ulteo/sessionmanager/documentation/config.inc.php.default
	rmdir --ignore-fail-on-non-empty \
		debian/ulteo-ovd-session-manager/usr/share/ulteo/sessionmanager/documentation

	dh_installdebconf
	dh_installman
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure-stamp
