#!/usr/bin/make -f

DEB_PYTHON_SYSTEM := pycentral
DEB_PYTHON_COMPILE_VERSION = 2.5

DEB_DH_INSTALL_SOURCEDIR = debian/tmp

include /usr/share/cdbs/1/rules/debhelper.mk

DEB_DESTDIR = debian/tmp

include /usr/share/cdbs/1/class/python-distutils.mk

