Source: ovd-slaveserver
Section: net
Priority: extra
Maintainer: Jeremy Desvages <jeremy@ulteo.com>
Build-Depends: cdbs, debhelper (>= 5),
 python (>= 2.5), python-central, python-svn
Standards-Version: 3.7.3

Package: ulteo-ovd-slaveserver
Architecture: any
Depends: debconf, python (>= 2.5), python-xrdp, ulteo-ovd-shells, tightvncserver (>=1.3.9-4ulteo0.1), imagemagick, passwd, adduser
Description: Ulteo OVD slave server
 This daemon manages the Open Virtual Desktop servers.
