#!/bin/sh -e
# vim: set syntax=sh:

. /usr/share/debconf/confmodule
db_version 2.0

# If a valid config already exists do nothing
[ -z "$DEBCONF_RECONFIGURE" ] && grep -q "^CHROOT=" /etc/ulteo/subsystem.conf 2>/dev/null && exit 0

# à revoir
db_fget ulteo-ovd-subsystem/sm_address seen
if [ "$RET" = false ]; then
    case "$RET" in
        localhost|localhost.localdomain|127.0.0.1)
            db_set ulteo-ovd-subsystem/sm_address $RET || true
            db_fset ulteo-ovd-subsystem/sm_address seen false || true
            ;;
        *) ;;
    esac
fi

db_input critical ulteo-ovd-subsystem/sm_address || true
db_go

db_input low ulteo-ovd-subsystem/tarball_uri || true
db_go

exit 0

