#!/bin/sh -e

. /usr/share/debconf/confmodule

db_input critical ulteo-ovd-subsystem/sm_address || true
db_go

# override the input field if tarball_uri not already seen
db_get ulteo-ovd-subsystem/tarball_uri && URI=$RET
if [ -z "$URI" ]; then
    db_get ulteo-ovd-subsystem/sm_address
    URI="https://$RET/ovd/admin/base.tar.gz"
    db_set ulteo-ovd-subsystem/tarball_uri $URI
fi

db_input normal ulteo-ovd-subsystem/tarball_uri || true
db_go

exit 0
