Source: ovd-applets
Section: utils
Priority: optional
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: debhelper (>= 5), cdbs, sun-java6-jdk, ant, ant-optional, ulteo-ovd-cert
Standards-Version: 3.8.2

Package: ulteo-ovd-applets
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ulteo Open Virtual Desktop applet
 This applet is used in the Open Virtual Desktop to display the user session in
 a browser.
