#!/bin/sh -e

. /usr/share/debconf/confmodule

# if ulteo-ovd-debconf-database package is installed
if db_get ulteo-ovd-debconf-database/mysql_root_password; then
    db_input high ulteo-ovd-easy-install/display_sm_password || true
    db_go

else
    # get the mysql admin password entried during the mysql-server package install
    dbpasswd=
    db_get mysql-server/root_password && dbpasswd=$RET
    if [ -n "$dbpasswd" ]; then
        db_set ulteo-ovd-easy-install/mysql_dbrootpass $dbpasswd
        db_fset ulteo-ovd-easy-install/mysql_dbrootpass seen true || true

    # no way to find the mysql admin password, ask to the user
    else
        while true; do
            db_input critical ulteo-ovd-easy-install/mysql_dbrootpass || true
            db_go

            # verify the mysql admin password
            db_get ulteo-ovd-easy-install/mysql_dbrootpass && dbpasswd=$RET
            if echo "quit" | mysql --silent --user=root --password=$dbpasswd 2>/dev/null; then
                dbpasswd=
                break
            else
                db_fset ulteo-ovd-easy-install/mysql_dbrootpass seen false || false
                db_input high ulteo-ovd-easy-install/wrong_msql_password || true
            fi
        done
    fi
fi

exit 0
