Source: ovd-webinterface
Section: net
Priority: extra
Maintainer: Jeremy Desvages <jeremy@ulteo.com>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: ulteo-ovd-webinterface
Architecture: any
Depends: libapache2-mod-php5, php5, php5-curl, debconf
Description: Ulteo OVD web interface
 This interface is a web client for Ulteo OVD.
