Source: ovd-application-server
Section: net
Priority: extra
Maintainer: Gauvain Pocentek <gauvain@ulteo.com>
Build-Depends: cdbs, debhelper (>= 5), ulteo-ovd-applets, intltool
Standards-Version: 3.7.3

Package: ulteo-ovd-application-server-daemon
Architecture: all
Depends: mawk, python, openssh-server, tightvncserver (>= 1.2.9-21ulteo0.1), rdesktop (>= 1.6.0-2ulteo0.1), autocutsel, davfs2, cpulimit, inotify-tools, aufs-tools, smbfs, xdg-utils, cupsys-bsd, curl, rsync, desktop-files2xml, ulteo-ovd-start, lmessage | xdialog
Conflicts: ulteo-ovd-daemon (<= 1.0.1+svn01187)
Replaces: ulteo-ovd-daemon
Description: Ulteo Open Virtual Desktop - daemon
 This daemon manages the sessions on Open Virtual Desktop application servers.

Package: ulteo-ovd-daemon
Architecture: all
Depends: ulteo-ovd-application-server-daemon
Description: Ulteo Open Virtual Desktop - daemon (Transitional package)
 This package exists for transitional purpose only. It can be safely removed.

Package: ulteo-ovd-application-server
Architecture: all
Depends: debconf (>= 0.2.26), po-debconf, curl, libapache2-mod-php5, php5-curl, php5-imagick, ulteo-ovd-applets, ulteo-ovd-application-server-tools (= ${binary:Version})
Conflicts: ulteo-ovd (<= 1.0.1+svn1187)
Description: Ulteo Open Virtual Desktop - application server
 This package provides the application server web services for the Ulteo Online
 Virtual Desktop.

Package: ulteo-ovd-application-server-tools
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: ulteo-ovd (<= 1.0.1+svn1187), ulteo-ovd-application-server (<< 2.0~~+svn01639)
Description: Ulteo Open Virtual Desktop - application server
 This package provides the application server web services for the Ulteo Online
 Virtual Desktop.

Package: ulteo-ovd
Architecture: all
Depends: ulteo-ovd-application-server
Description: Ulteo Open Virtual Desktop (dummy transitional package)
 This transitional package ease the upgrade of the OVD Application Server.
 .
 You can safely purge this package.
