#!/bin/sh -e
# vim: set syntax=sh:

. /usr/share/debconf/confmodule
db_version 2.0

# If a valid config already exists do nothing
grep -q "^CHROOT=" /etc/ulteo-ovd.conf && exit 0

# we don't want to fail here
set +e
FQDN=$(dnsdomainname --fqdn)
set -e
[ -z "$FQDN" ] && FQDN="localhost.localdomain"

db_fget ulteo-ovd-application-server/fqdn seen
if [ "$RET" = false ]; then
    db_set ulteo-ovd-application-server/fqdn $FQDN || true
    db_fset ulteo-ovd-application-server/fqdn seen false || true
fi
db_input critical ulteo-ovd-application-server/fqdn || true
db_go

db_get ulteo-ovd-application-server/fqdn || true
case "$RET" in
    localhost|localhost.localdomain|127.0.0.1)
        db_set ulteo-ovd-application-server/sm_url http://$RET/sessionmanager || true
        db_fset ulteo-ovd-application-server/sm_url seen false || true
        ;;
    *) ;;
esac

db_input critical ulteo-ovd-application-server/sm_url || true
db_go

exit 0

