#!/bin/sh -e
# vim: set syntax=sh:

. /usr/share/debconf/confmodule
db_version 2.0

# Try to get the settings from an old version of OVD (ulteo-ovd)
if [ $1 = "configure" ] && [ -n "$2" ] && dpkg --compare-versions $2 lt 2.0~~+svn01818-0ulteo0; then
    db_get od/fqdn
    [ -n "$RET" ] && db_set ulteo-ovd-application-server/fqdn "$RET" || true
    db_get od/sessions/server_url
    [ -n "$RET" ] && db_set ulteo-ovd-application-server/sm_url "$RET" || true
fi

# If a valid config already exists do nothing
grep -q "^CHROOT=" /etc/ulteo-ovd.conf 2>/dev/null && exit 0

# we don't want to fail here
set +e
FQDN=$(dnsdomainname --fqdn)
set -e
[ -z "$FQDN" ] && FQDN="localhost.localdomain"

db_fget ulteo-ovd-application-server/fqdn seen
if [ "$RET" = false ]; then
    db_set ulteo-ovd-application-server/fqdn $FQDN || true
    db_fset ulteo-ovd-application-server/fqdn seen false || true
fi
db_input critical ulteo-ovd-application-server/fqdn || true
db_go

db_fget ulteo-ovd-application-server/sm_url seen
if [ "$RET" = false ]; then
    db_get ulteo-ovd-application-server/fqdn || true
    case "$RET" in
        localhost|localhost.localdomain|127.0.0.1)
            db_set ulteo-ovd-application-server/sm_url http://$RET/sessionmanager || true
            db_fset ulteo-ovd-application-server/sm_url seen false || true
            ;;
        *) ;;
    esac
fi

db_input critical ulteo-ovd-application-server/sm_url || true
db_go

db_input low ulteo-ovd-application-server/tarball_uri || true
db_go

exit 0

