html {
	background-color: white;
	color: #252525;

	font-family: Arial, Lucida Grande, sans-serif;
	font-size: 1em;
}

a {
	color: #d50000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom: 3px solid #8cacbb;
	padding: 0 0 0.3em 0;
}
h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.66em;
    border-bottom: 2px solid #8cacbb;
}

h4 {
    font-size: 1.33em;
    border-bottom: 1px solid #8cacbb;
}

li p {
	margin: .25em 0;
}

a, img {
	border: 0;
}

img {
    margin-bottom: 20px;
}

pre {
	background: #eee;
	border: 1px solid #8cacbb;

	font-family: courier, monospace;

	padding: 0.5em;

	white-space: pre;
}

.toc {
	background: #eee;
	border: 1px solid #8cacbb;

	padding: 0.5em;
}

.section .section {
	padding-left: 3%;
}
.section .simplesect {
	padding-left: 3%;
}

hr {
	border: none;
}

div.important { 
	background:  #ffdcaf;
	border : 1px dashed #C52;
	margin: 10px;
	padding: 10px;
}

div.note { 
	background: #e4e9f5;
	border : 1px dashed #a9b8da;
}
