Source: ovd-webinterface
Section: net
Priority: extra
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: cdbs, debhelper (>= 6), intltool
Standards-Version: 3.7.2

Package: ulteo-ovd-webinterface
Architecture: all
Depends: ulteo-ovd-applets, php5, php5-curl, php5-gd, debconf
Recommends: ulteo-ovd-webinterface-ajaxplorer
Description: Ulteo Open Virtual Desktop - web interface
 This interface is a web client for Ulteo OVD.

Package: ulteo-ovd-webinterface-ajaxplorer
Architecture: all
Depends: ulteo-ovd-webinterface
Description: Ulteo Open Virtual Desktop - Ajaxplorer portal
 Ajaxplorer portal for Ulteo OVD web interface
