body {
	background: #fff;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

#menuContainer {
	background: #0f2d47;

	width: 100%;
	height: 18px;

	top: 0px;
	right: 0px;

	text-align: right;
	vertical-align: middle;
}

#printerContainer {
	width: 1px;
	height: 1px;
	background: #0f2d47;
	border: 0px;
}

#splashContainer {
	border: 0px;

	position: absolute;

	width: 406px;
	height: 255px;
}

#endContainer {
	border: 0px;

	position: absolute;

	width: 400px;
	height: 150px;

	text-align: center;
	vertical-align: middle;
}

#appletContainer {
	position: absolute;

	top: 0px;
	left: 0px;
}

#debugContainer {
	position: absolute;

	left: 0px;
	bottom: 0px;

	width: 85%;
	height: 149px;

	overflow: auto;

	display: inline;
}

#debugLevels {
	position: absolute;

	right: 0px;
	bottom: 0px;

	width: 15%;
	height: 149px;

	display: inline;
}

.debug {
	color: grey;
	display: block;
}

.info {
	color: green;
	display: block;
}

.warning {
	color: orange;
	display: block;
}

.error {
	color: red;
	display: block;
}

#debugContainer.no_debug .debug {
	display: none;
}

#debugContainer.no_info .info {
	display: none;
}

#debugContainer.no_warning .warning {
	display: none;
}

#debugContainer.no_error .error {
	display: none;
}

#menuShare {
	background: #0f2d47;
	margin: 0px;
}

#menuShareWarning {
	float: left;
	text-align: left;
	color: white;
	width: 50%;
	height: 18px;
}

#menuShareFrame {
	margin: 0px;
	width: 30%;
	background: #eee;
}

#menuShareError {
	color: #a30505;
	font-weight: bold;
}
