Source: ovd-desktop
Section: x11
Priority: extra
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.3

Package: ulteo-ovd-desktop
Architecture: all
Depends: 
 gnome-icon-theme, gnome-icon-theme-crystal, dmz-cursor-theme, xfce4-icon-theme,
 xfwm4, xfdesktop4, xfce4-mcs-plugins, xfce4-utils, xfce4-panel, xfce4-session,
 thunar, gtk2-engines-xfce, gtk2-engines-mythbuntu, xfce4-restricted-menu-plugin
Conflicts: xfce (>= 4.6), ulteo-ovd-xfce-default-settings,
 xubuntu-default-settings, thunar-data (<< 0.9.0-4ulteo2)
Description: Startup script and default settings for the Ulteo OVD
 This package provides :
 * default settings for the Xfce desktop on an Ulteo Open Virtual Desktop.
 * script that can be used to start an X session on an Open Virtual 
 Desktop application server.
