Source: ovd-desktop
Section: x11
Priority: extra
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.3

Package: ulteo-ovd-desktop
Architecture: all
Depends: xfce4, xinit, xfce4-restricted-menu-plugin, gnome-icon-theme, gnome-icon-theme-crystal, gtk2-engines-mythbuntu, dmz-cursor-theme
Conflicts: ulteo-ovd-xfce-default-settings, xubuntu-default-settings, thunar-data (<< 0.9.0-4ulteo2)
Description: Startup script and default settings for the Ulteo OVD
 This package provides :
 * default settings for the Xfce desktop on an Ulteo Open Virtual Desktop.
 * script that can be used to start an X session on an Open Virtual 
 Desktop application server.
