#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

pre-build::
	cp $(CURDIR)/ulteo-ovd-subsystem.init.deb $(CURDIR)/debian/ulteo-ovd-subsystem.init

install/ulteo-ovd-subsystem::
	CONFDIR=$(CURDIR)/debian/$(cdbs_curpkg)/etc/ulteo/ ; \
	mkdir -p $$CONFDIR ; \
	echo "CHROOTDIR=" > $$CONFDIR/subsystem.conf

clean::
	#debconf-updatepo
