#!/usr/bin/make -f

include /usr/share/cdbs/1/class/ant.mk
include /usr/share/cdbs/1/rules/debhelper.mk

JAVA_HOME = /usr/lib/jvm/java-6-sun

DEB_ANT_INSTALL_TARGET = install
DEB_ANT_BUILD_TARGET = sign
DEB_ANT_ARGS += -Dprefix=/usr -Dbuild.type=stripped -Ddestdir=$(DEB_DESTDIR)

# debian bug #420287
DEB_JARS += $(ANT_HOME)/lib/ant-nodeps.jar

DEB_INSTALL_DOCS_ALL =

PASSWD := $(shell cat /usr/share/ulteo/ovd-cert/password)

configure/ulteo-ovd-applets::
	sed -i "s/123456/$(PASSWD)/" build.xml

