Source: ovd-ha
Section: net
Priority: optional
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: debhelper (>= 6), cdbs
Standards-Version: 3.7.3

Package: ulteo-ovd-ha
Architecture: any
Depends: ${shlibs:Depends}, ulteo-ovd-session-manager-ha, mysql-server,
 drbd8-utils, heartbeat
Description: Ulteo Open Virtual Desktop - High Avaibility data
 High Avaibility data and tools for OVD

Package: ulteo-ovd-session-manager-ha
Architecture: all
Depends: ulteo-ovd-session-manager
Description: Ulteo Open Virtual Desktop - High Avaibility module for SM
 Module High-Avaibility for OVD Session Manager
