#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_CONFIGURE_EXTRA_FLAGS = --without-libchart --with-ha
DEB_DH_INSTALL_SOURCEDIR = debian/tmp
DEB_DH_INSTALLINIT_ARGS = --name=ulteo_ha
DEB_UPDATE_RCD_PARAMS = "defaults 99 01"

install/ulteo-ovd-ha::
	cd ha/shell && make install DESTDIR=$(DEB_DESTDIR)
	cp ha/ulteo_ha debian/ulteo-ovd-ha.ulteo_ha.init

binary-fixup/ulteo-ovd-ha::
	chmod u+s $(CURDIR)/debian/$(cdbs_curpkg)/usr/bin/HAshell \
		$(CURDIR)/debian/$(cdbs_curpkg)/usr/share/ulteo/ovd/ha/su_cmd.sh
