#!/bin/bash -e

. /usr/share/debconf/confmodule
unset LANG

valid_ip()
{
    local _ifs=$IFS
    IFS='.'
    local ip=($1)
    IFS=$_ifs

    if ! ( [[ "$1" =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]] && \
           [[ ${ip[0]} -le 255 && ${ip[1]} -le 255 && \
              ${ip[2]} -le 255 && ${ip[3]} -le 255 ]] ); then
        return 1
    fi
}

valid_vip()
{
    valid_ip "$3" || return $?

    local nic_mask=(`echo $1 | awk '{for(i=1;i<=NF;i++) printf " " $i}' FS=.`)
    local nic_addr=(`echo $2 | awk '{for(i=1;i<=NF;i++) printf " " $i}' FS=.`)
    local vip=(`echo $3 | awk '{for(i=1;i<=NF;i++) printf " " $i}' FS=.`)

    for i in {0..3}; do
        if [ $(expr ${nic_addr[$i]} \& ${nic_mask[$i]}) != \
             $(expr ${vip[$i]} \& ${nic_mask[$i]}) ]; then
            return 1
        fi
    done
}

# HOSTNAME
if [ -z "$HOSTNAME" ]; then
    db_input critical ulteo-ovd-ha/hostname || true
    db_go
else
    db_set ulteo-ovd-ha/hostname $HOSTNAME
fi

# GATEWAY
GATEWAY=`route -n | grep '^0\.0\.\0\.0[ \t]\+[1-9][0-9]*\.[1-9][0-9]*\.[1-9][0-9]*\.[1-9][0-9]\+[ \t]\+0\.0\.0\.0[ \t]\+[^ \t]*G[^ \t]*[ \t]' | awk '{print $2}'`
if [ -z "$GATEWAY" ]; then
    db_input critical ulteo-ovd-ha/gateway || true
    db_go
else
    db_set ulteo-ovd-ha/gateway $GATEWAY
fi

# MODE
db_input high ulteo-ovd-ha/mode || true
db_go

# NIC
nics=(`ifconfig -s | tr -s ' ' | cut -d' ' -f1 | grep -E "eth[0-9]"`)
case ${#nics[*]} in
    0) db_input critical ulteo-ovd-ha/no_nic || true ; db_go ; exit 1 ;;
    1) db_set ulteo-ovd-ha/nic ${nics[0]} ;;
    *) db_subst ulteo-ovd-ha/nic choices $(echo ${nics[*]} | sed "s/ /, /")
       db_input high ulteo-ovd-ha/nic ; db_go ;;
esac
db_get ulteo-ovd-ha/nic && NIC="$RET"
NIC_ADDR=$(ifconfig $NIC | awk -F":| +" '/inet addr/{print $4}')
NIC_MASK=$(ifconfig $NIC | awk -F":| +" '/inet addr/{print $8}')

db_get ulteo-ovd-ha/mode && MODE="$RET"
case $MODE in
    master)
        # set virtual IP
        while [ -z "$VIP" ]; do
            db_subst ulteo-ovd-ha/vip nic $NIC
            db_subst ulteo-ovd-ha/vip addr $NIC_ADDR
            db_subst ulteo-ovd-ha/vip mask $NIC_MASK
            db_input high ulteo-ovd-ha/vip || true
            db_go
            db_get ulteo-ovd-ha/vip
            if [ -n "$RET" ] && valid_vip $NIC_MASK $NIC_ADDR $RET; then
                VIP="$RET"
            else
                db_fset ulteo-ovd-ha/vip seen false
            fi
        done
    ;;

    slave)
        # set master IP
        while [ -z "$MIP" ]; do
            db_input high ulteo-ovd-ha/mip || true
            db_go
            db_get ulteo-ovd-ha/mip
            if [ -n "$RET" ] && valid_ip "$RET"; then
                MIP="$RET"
            else
                db_fset ulteo-ovd-ha/mip seen false
            fi
        done
    ;;
esac

exit 0
