#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

configure/cups2all::
	gunzip < extra/PostscriptColor.ppd.gz > extra/PostscriptColor.ppd

binary-install/cups2all::
	dh_pycentral -pcups2all

clean::
	rm -rf extra/PostscriptColor.ppd
